.line-1, .line-2 {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  color: #fff;
}

.line-3 {
  font-family: "Londrina Outline", sans-serif;
  color: #fff;
}

.line-3:hover {
  font-family: "Londrina Solid", sans-serif;
  color: #fff;
}

body {
  overflow: hidden;
  background-color: pink;
}

.big-container {
  border-style: solid;
  border-color: #fff;
}

.container-3 {
  font-family: "Playfair Display", serif;
  color: #000;
}

.heading {
  font-family: "Playfair Display", serif;
}

@media only screen and (min-width: 60em) {

  .large {
    opacity: .5;
  }

  .container-3 {
    position: absolute;
    transform: translateY(-105%);
  }

}
